.col-1{
    height: 50px;
}
.black{
    background-color: black;
}
.green{
    background-color: green;
}
.yellowgreen{
    background-color: greenyellow;
}
.red{
    background-color: red;
}
.pink{
    background-color: pink;
}